conda install pillow
conda install numpy
conda install requests
conda install tqdm
conda install beautifulsoup4
conda install tensorflow-gpu==1.15
conda install matplotlib
conda install seaborn
pip install opencv-python
pip install keras
pip install diffimg
